[submodule "submodules/libtgvoip"]
	path = submodules/libtgvoip
	url = git@github.com:telegramdesktop/libtgvoip
[submodule "submodules/Sparkle"]
	path = submodules/Sparkle
	url = git@github.com:Shimbo/Sparkle
	branch = circles
[submodule "submodules/Zip"]
	path = submodules/Zip
	url = git@github.com:overtake/Zip
[submodule "submodules/telegram-ios"]
	path = submodules/telegram-ios
	url = git@github.com:Shimbo/Telegram-iOS.git
	branch = circles
[submodule "submodules/rlottie"]
	path = submodules/rlottie
	url = git@github.com:overtake/rlottie.git
[submodule "submodules/ton"]
	path = submodules/ton
    url = git@github.com:overtake/ton.git
